! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

!! hard contrast: *background: #1d2021
!*background: #282828
!! soft contrast: *background: #32302f
!*foreground: #ebdbb2
!! Black + DarkGrey
!*color0:  #282828
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #fb4934
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #b8bb26
!! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #fabd2f
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #83a598
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #d3869b
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #8ec07c
!! LightGrey + White
!*color7:  #a89984
!*color15: #ebdbb2




! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT


! Polar Night is made up of four darker colors that are commonly used for 
! base elements like backgrounds or text color in bright ambiance designs.

!#define nord0 #2E3440
!! black
!#define nord1 #3B4252
!
!#define nord2 #434C5E
!! Black bright
!#define nord3 #4C566A
!
!
!!  Snow Storm is made up of three bright colors that are commonly used for 
!!  text colors or base UI elements in bright ambiance designs.
!
!#define nord4 #D8DEE9
!! White
!#define nord5 #E5E9F0
!! white Bright
!#define nord6 #ECEFF4
!
!! Frost can be described as the heart palette of Nord, a group of four 
!! bluish colors that are commonly used for primary UI component and text 
!! highlighting and essential code syntax elements.
!
!! Cyan Bright
!#define nord7 #8FBCBB
!! Cyan
!#define nord8 #88C0D0
!! Blue and Blue Bright
!#define nord9 #81A1C1
!
!#define nord10 #5E81AC
!
!! Aurora consists of five colorful components reminiscent of the 
!! „Aurora borealis“, sometimes referred to as polar lights or northern lights.
!
!! Red and Red Bright
!#define nord11 #BF616A
!
!#define nord12 #D08770
!! Yellow and Yellow Bright
!#define nord13 #EBCB8B
!! Green and Green Bright
!#define nord14 #A3BE8C
!! Magente and Megente bright
!#define nord15 #B48EAD
!
!*.foreground:   nord4
!*.background:   nord0
!*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3
!
!*.color0: nord1
!*.color1: nord11
!*.color2: nord14
!*.color3: nord13
!*.color4: nord9
!*.color5: nord15
!*.color6: nord8
!*.color7: nord5
!*.color8: nord3
!*.color9: nord11
!*.color10: nord14
!*.color11: nord13
!*.color12: nord9
!*.color13: nord15
!*.color14: nord7
!*.color15: nord6

!! MySpecial NORD
*.foreground:   #d8dee9
*.background:   #2e3440
*.cursorColor:  #d8dee9
*fading:        0
*fadeColor:     #4c566a

! black
*.color0:       #3b4252
*.color8:       #4c566a

! red
*.color1:       #bf616a
*.color9:       #d07582

! green
*.color2:       #a3be8c
*.color10:      #b4d2a4

! yellow
*.color3:       #ebcb8b
*.color11:      #fcdfa3

! blue
*.color4:       #81a1c1
*.color12:      #92b5d9

! magenta
*.color5:       #b48ead
*.color13:      #c5a2c5

! cyan
*.color6:       #88c0d0
*.color14:      #99d4e8

! white
*.color7:       #e5e9f0
*.color15:      #eceff4
!
!! special
!*.foreground:   #a9b1d6
!*.background:   #1a1b26
!*.cursorColor:  #a9b1d6
!
!! black
!*.color0:       #1a1b26
!*.color8:       #4e5173
!
!! red
!*.color1:       #f7768e
!*.color9:       #f7768e
!
!! green
!*.color2:       #9ece6a
!*.color10:      #9ece6a
!
!! yellow
!*.color3:       #e0af68
!*.color11:      #e0af68
!
!! blue
!*.color4:       #7aa2f7
!*.color12:      #7aa2f7
!
!! magenta
!*.color5:       #9a7ecc
!*.color13:      #9a7ecc
!
!! cyan
!*.color6:       #4abaaf
!*.color14:      #4abaaf
!
!! white
!*.color7:       #acb0d0
!*.color15:      #acb0d0
!
!*.accentColor   : #f7768e
!*.urgentColor   : #e0af68

!! special
!*.foreground:   #babdb6
!*.background:   #1c1c1c
!*.cursorColor:  #d3d7cf
!
!! black
!*.color0:       #2e3436
!*.color8:       #555753
!
!! red
!*.color1:       #cc0000
!*.color9:       #ef2929
!
!! green
!*.color2:       #4e9a06
!*.color10:      #8ae234
!
!! yellow
!*.color3:       #c4a000
!*.color11:      #fce94f
!
!! blue
!*.color4:       #3465a4
!*.color12:      #729fcf
!
!! magenta
!*.color5:       #75507b
!*.color13:      #ad7fa8
!
!! cyan
!*.color6:       #06989a
!*.color14:      #34e2e2
!
!! white
!*.color7:       #d3d7cf
!*.color15:      #eeeeec
!

! Special mouseless
!*.foreground: #C6C6C6
!*.background: #1C1C1C
!*.cursorColor: #e4e4e4
!
!! black 236 238
!*.color0: #303030
!*.color8: #444444
!! red 167
!*.color1: #d75f5f
!*.color9: #d75f5f
!! green 108
!*.color2: #87AF87
!*.color10: #87AF87
!! yellow 221
!*.color3: #ffd75f
!*.color11: #ffd75f
!! blue 110
!*.color4: #87afd7
!*.color12: #87afd7
!! magenta 146
!*.color5: #afafd7
!*.color13: #afafd7
!! cyan 75
!*.color6: #afd7ff
!*.color14: #afd7ff
!! white 239 15
!*.color7: #e4e4e4
!*.color15: #ffffff

!! special *.foreground:   #babdb6 *.background:   #000000 *.cursorColor:
!#babdb6
!
!! black *.color0:       #2e3436 *.color8:       #555753
!
!! red *.color1:       #cc0000 *.color9:       #ef2929
!
!! green *.color2:       #4e9a06 *.color10:      #8ae234
!
!! yellow *.color3:       #c4a000 *.color11:      #fce94f
!
!! blue *.color4:       #3465a4 *.color12:      #729fcf
!
!! magenta *.color5:       #75507b *.color13:      #ad7fa8
!
!! cyan *.color6:       #06989a *.color14:      #34e2e2
!
!! white *.color7:       #d3d7cf *.color15:      #eeeeec
!
!
!Character Fonts
!URxvt*font: xft:Operator Mono for Powerline:style=Book:size=20, xft:MesloLGS NF:style=Regular:pixelsize=20

!!URxvt*font: xft:Meslo iCursive S12:pixelsize=20, xft:MesloLGS NF:pixelsize=20

!URxvt*font: xft:Meslo iCursive S12:style=Regular:pixelsize=20

URxvt*font: xft:MesloLGS NF:style=Regular:pixelsize=20

!:style=Book:size=9:pixelsize=15:antialias=true
!URxvt*font: xft:Operator Mono:style=Book:size=8:pixelsize=24:antialias=true,xft:MesloLGS NF:style=Regular:size=10:pixelsize=20:antialias=true
!URxvt*font: xft:Operator Mono:style=Book:size=14:pixelsize=30:antialias=true,xft:Hack NF:style=Medium:size=14:pixelsize=30:antialias=true

!URxvt*font: xft:Operator Mono for Powerline:style=Book:size=20:pixelsize=20,xft:MesloLGS NF:style=Regular:pixelsize=20,xft:SauceCodePro NF:style=Medium:size=20,xft:Inconsolata Nerd Font:style=Regular:size=20,xft:Hack NF:style=Regular:size=20
!URxvt*font: xft:Operator Mono for Powerline:style=Book,xft:Inconsolata,xft:Hack NF,xft:MesloLGS NF,xft:SauceCodePro NF
!URxvt*font: xft:MesloLGS NF:style=Regular:size=14:pixelsize=20:antialias=true
!URxvt*font: xft:MesloLGS NF:style=Regular:size=20
!URxvt*font: xft:Operator Mono for Powerline:style=Book:pixelsize=20,xft:MesloLGS NF:style=Regular:pixelsize=20
!URxvt*font: xft:Meslo iCursive S12:style=Regular:pixelsize=20
!URxvt*font: xft:SpaceMono Nerd Font Mono:style=Regular:pixelsize=20
URxvt*letterSpace: 0
! windows default
URxvt*borderLess: false URxvt*externalBorder: 0 URxvt*internalBorder: 4
URxvt*scrollBar: false

URxvt*saveLines: 5000

! Keymaps
URxvt.iso14755: false
URxvt.iso14755_52: false


URxvt*perl-ext-common: default,matcher,tabbedex,resize-font

! to open links in the default web browser with the left mouse button, 

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! resize-font decimal point
URxvt.resize-font.step: 1

! To control tabs use:
! Key 	Description
! Shift+Down 	New tab
! Shift+Left 	Go to left tab
! Shift+Right 	Go to right tab
! Shift+Up      Rename tab
! Ctrl+Left 	Move tab to the left
! Ctrl+Right 	Move tab to the right
! Ctrl+d 	    Close tab
! 

!URxvt*keysym.Control-Shift-N: perl:tabbedex:new_tab
!URxvt*keysym.Control-Shift-K: perl:tabbedex:next_tab
!URxvt*keysym.Control-Shift-J: perl:tabbedex:prev_tab
!URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
!URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
!URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right

!foreground bar5
URxvt*tabbedex.tabbar-fg: 6 
!background bar
URxvt*tabbedex.tabbar-bg: 0 
!foregroundn tab
URxvt*tabbedex.tab-fg: 14 
!background tab
URxvt*tabbedex.tab-bg: 8 
URxvt*tabbedex.transparent:true
URxvt*tabbedex.new-button: false
URxvt.tabbedex.reopen-on-close:no
URxvt*tabbedex.title:false
